@using Battleships.Web.Models.AddPlayer
@model IEnumerable<PlayerRecordViewModel>

@{
    ViewBag.Title = "Players";
}
@Styles.Render("~/bundles/styles/players")

@using (Html.BeginForm(MVC.Players.RunGame(), FormMethod.Post, new { id = "run-game-form" })) {
    @Html.Hidden("playerOneId")
    @Html.Hidden("playerTwoId")
}

<div id="challenge">
    <div id="gameSetup">
        <div id="firstPlayer" class="player" data-default-text="First player">First player</div>
        <div id="vs">VS</div>
        <div id="secondPlayer" class="player" data-default-text="Second player">Second player</div>
        <button id="runGameButton" type="button" class="btn btn-success">
            Fight!
        </button>
    </div>

    <div id="winner"></div>
    <div id="resultType"></div>
    <button id="resetGameButton" type="button" class="btn btn-success">Want to play again?</button>
    <div id="loading-spinner">
        <img src="../../Images/Explodingbattleship.gif" alt="Loading...">
    </div>
</div>

<h3>List of players</h3>

<table class="table table-striped" id="playerTable">
    <tr>
        <th>User Name</th>
        <th>Player Name</th>
        <th class="text-center actions"></th>
    </tr>
    @foreach (var player in Model) {
        <tr>
            <td>@player.User.UserName</td>
            <td>
                @if (player.PictureFileName != null)
                {
                    @Html.ActionLink(player.Name, MVC.ManagePlayers.ClickPlayer(player.Id))
                }
                else
                {
                    @player.Name
                }
            </td>
            <td>
                <button type="button" class="btn btn-default" data-player-id="@player.Id" data-player-name="@player.Name">
                    Add to Game
                </button>
            </td>
        </tr>
    }
</table>

@section scripts{
    @Scripts.Render("~/bundles/scripts/players/index")
    <script type="text/javascript">
        $(function() {
            battleships.players.index.init();
        });
    </script>
}