@using Battleships.Runner.Models
@model IEnumerable<PlayerRecord>

@{
    ViewBag.Title = "Players";
}
@Styles.Render("~/bundles/styles/players/challenge")

<h3>Current challenge</h3>
<table class="twoPlayerTable">
    <tr>
        <td id="firstPlayer" class="text-center twoPlayerTopTd">First player</td>
        <td class="text-center twoPlayerTopTd"> VS</td>
        <td id="secondPlayer" class="text-center twoPlayerTopTd">Second player</td>
    </tr>
    <tr>
        <td class="text-center">
            <button id="firstPlayerReset" type="button" class="btn btn-default">
                Reset first!
            </button>
        </td>
        <td id="play" class="text-center">
            <button type="button" class="btn btn-default">
                Play!
            </button>
        </td>
        <td class="text-center">
            <button id="secondPlayerReset" type="button" class="btn btn-default">
                Reset second!
            </button>
        </td>
    </tr>
</table>

<h3>List of players</h3>

<table class ="table table-striped" id="playerTable">
    <tr>
        <th>User Name</th>
        <th>Player Name</th>
        <th class="text-center challengeTd">Challenge!</th>
    </tr>
    @foreach (var player in Model.Reverse()) {
        <tr>
            <td>@player.UserName</td>
            <td>@player.Name</td>
            <td class="challengeTd">
                <button type="button" class="btn btn-default" data-player-id="@player.Id" data-player-name="@player.Name">
                    Add to Game!
                </button>
            </td>
        </tr>
    }
</table>

@section scripts{
    @Scripts.Render("~/bundles/scripts/players/index")
    <script type="text/javascript">
        $(function() {
            battleships.players.index.init();
        });
    </script>
}