@using Battleships.Web.Models.PlayerProfile
@model PlayerRecordViewModel

@{
    ViewBag.Title = Model.Name;
}
@if (Model.PictureFileName != null) {
    <img id="PlayerPicture" src="@Model.PictureFilePath">
}
@Styles.Render("~/bundles/styles/profile")

<h3>Player Records:</h3>
<p>
    <b>Creator:&nbsp;</b>@Model.User.UserName<br>
    <b>Last updated:&nbsp;</b>@Model.LastUpdated
</p>

<a href="@Model.BotDownloadPath" class="btn btn-primary" id="downloadPlayerButton">Download</a>

<h3>Matches Won: @Model.WonMatchResults.Count</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Against</th>
            <th>Score</th>
            <th>Time Played</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var matchResult in Model.WonMatchResults) {
            <tr>
                <td>@Html.ActionLink(matchResult.Loser.Name, MVC.PlayerProfile.Index(matchResult.LoserId))</td>
                <td>@matchResult.WinnerWins - @matchResult.LoserWins</td>
                <td>@matchResult.TimePlayed</td>
            </tr>
        }
    </tbody>
</table>

<h3>Matches Lost: @Model.LostMatchResults.Count</h3>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Against</th>
            <th>Score</th>
            <th>Time Played</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var matchResult in Model.LostMatchResults) {
            <tr>
                <td>@Html.ActionLink(matchResult.Winner.Name, MVC.PlayerProfile.Index(matchResult.WinnerId))</td>
                <td>@matchResult.WinnerWins - @matchResult.LoserWins</td>
                <td>@matchResult.TimePlayed</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.User.UserName == User.Identity.Name) {
    <button class="btn btn-default" id="deletePlayerButton" data-toggle="modal" data-target="#deletePlayerModal">Delete Player</button>
    <div class="modal fade" id="deletePlayerModal" tabindex="-1" role="dialog" aria-labelledby="deletePlayerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="deletePlayerLabel">Confirm delete</h4>
                </div>
                <div class="modal-body">All the player's properties and match records will be deleted. This will be permanent. Are you sure?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left">No</button>
                    @using (Html.BeginForm(MVC.PlayerProfile.DeletePlayer(Model.Id), FormMethod.Post)) {
                        <button type="submit" class="btn btn-danger">Yes</button>
                    }
                </div>
            </div>
        </div>
    </div>
}








    