@using System.Configuration
@using Battleships.Core.Models
@using Battleships.Web.Services
@model PlayerRecord

@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img class="PlayerPicture" src="@Url.Content(Path.Combine("../..", ConfigurationManager.AppSettings["PlayerProfilePictureStoreDirectory"], Model.PictureFileName))">
@Styles.Render("~/bundles/styles/profile")

<h3>Player Records:</h3>
<p>Last updated: @Model.LastUpdated<br />Player Id: @Model.Id </p>

<input class="btn" id="submit" type="submit" value="Download" />
<a href=@PlayerUploadService.GenerateFullPath(Model.Name) target="_blank">Download</a>


<h3>Matches Won: @Model.WonMatchResults.Count</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Against</th>
            <th>Score</th>
            <th>Time Played</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var matchResult in Model.WonMatchResults) {
            <tr class="tableContent">
                <td>@Html.ActionLink(matchResult.Loser.Name, MVC.PlayerProfile.Index(matchResult.LoserId))</td>
                <td>@matchResult.WinnerWins - @matchResult.LoserWins</td>
                <td>@matchResult.TimePlayed</td>
            </tr>
        }
    </tbody>

</table>

<h3>Matches Lost: @Model.LostMatchResults.Count</h3>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Against</th>
            <th>Score</th>
            <th>Time Played</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var matchResult in Model.LostMatchResults) {
            <tr class="tableContent">
                <td>@Html.ActionLink(matchResult.Winner.Name, MVC.PlayerProfile.Index(matchResult.WinnerId))</td>
                <td>@matchResult.WinnerWins - @matchResult.LoserWins</td>
                <td>@matchResult.TimePlayed</td>
            </tr>
        }
    </tbody>

</table>