@using Battleships.Web.Helper
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/bundles/styles/common")
        <meta name="description" content="The description of my page" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Battleships", MVC.Home.Index(), new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Players", MVC.Players.Index())</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("Match Results", MVC.MatchResults.Index())
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("League", MVC.League.Index())
                        </li>
                    </ul>
                    @if (Request.IsAuthenticated) {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Add Player", MVC.AddPlayer.Index())</li>
                            <li>@Html.ActionLink("My Players", MVC.ManagePlayers.Index())</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Hello, @User.Identity.Name! <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">@Html.ActionLink("Change Password", MVC.Account.ChangePassword())</li>
                                    <li role="presentation">@Html.ActionLink("Log Off", MVC.Account.LogOff())</li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", MVC.Account.Register())</li>
                            <li>@Html.ActionLink("Log in", MVC.Account.LogIn())</li>
                        </ul>
                    }

                </div>
            </div>
        </div>
        @if (TempData.HasPopup()) {
            var popup = TempData.GetPopup();
            <div id="PopupBanner" class="@popup.CssClass">
                @popup.Message
            </div>
        }
        <div class="container body-content">

            <h2>@ViewBag.Title</h2>
            @RenderBody()
            <hr style="clear:both" />
            <footer>
                <p>
                    &copy; @DateTime.Now.Year - Softwire.
                    Project available on GitHub (private, for Softwire users only) <a href="https://github.com/Softwire/Battleships" target="_blank">here</a>.
                </p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/scripts/common")
        @RenderSection("scripts", false)
        <script type="text/javascript">
            $(function() {
                battleships.common.index.fade();
            });
        </script>

    </body>
</html>