@using Battleships.Web.Models.League
@model LeaguePlayerRecordViewModel

<tr>
    <td>@Model.UserName</td>
    <td>
        @if (Model.PictureFileName != null) {
            <a href="@Model.PictureFileName">@Model.PlayerName</a>
        }
        else {
            @Model.PlayerName
        }
    </td>
    <td class="text-center actions">
        @Html.HiddenFor(m => m.PlayerId)
        @Html.CheckBoxFor(m => m.Checked)
    </td>
</tr>