@using Battleships.Web.Models.Account
@model ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(MVC.Account.ChangePassword(), FormMethod.Post)) {
    <div>@Html.ValidationSummary(true)</div>
    <br />
    <div class="form-group">
        <h4>Current password:</h4>
        @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CurrentPassword)
    </div>
    <div class="form-group">
        <h4>New password:</h4>
        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>
    <div class="form-group">
        <h4>Confirm new password:</h4>
        @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
    </div>
    <input class="btn" id="submit" type="submit" value="Submit" />
}