@using Battleships.Web.Models.Account
@model CreateAccountViewModel

<script src="@Url.Content("~/Components/Microsoft.jQuery.Unobtrusive.Validation/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Components/Microsoft.jQuery.Unobtrusive.Validation/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm(MVC.Account.Register(), FormMethod.Post)) {
    <div>@Html.ValidationMessage("")</div>
    <br />
    <div class="form-group">
        <label for="Name">Username: </label>
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        <label for="Password">Password: </label>
        @Html.PasswordFor(x => x.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm password: </label>
        @Html.PasswordFor(x => x.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <input class="btn" id="submit" type="submit" value="Submit" />
}