@using Battleships.Web.Models.AddPlayer
@model AddPlayerModel
@{
    ViewBag.Title = "Add a Player";
}
@Styles.Render("~/bundles/styles/addplayer")

<p>
    <div class="addPlayerTips">
        Please Upload Player Files as .dll and Avatar pictures as gif or png.
    </div>
    <div class="addPlayerTips">
        To overwrite a player upload a new player with the same name.
    </div>
</p>

@Html.ValidationMessage("")
@Html.ValidationMessageFor(m => m.File)
@if (!Model.CanOverwrite) {
    using (Html.BeginForm(MVC.AddPlayer.Index(), FormMethod.Post, new { enctype = "multipart/form-data", id = "add-player-form" })) {
        <div class="jumbotron" id="newPlayerBox">
            <H3>
                New Player
            </H3>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="uploadPlayerFileBtn" type="button">Upload Player File</button>
                        </span>
                        <input id="photoCover1" type="text" class="form-control">
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="input-group">
                        <input id="photoCover2" type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="uploadAvatarBtn" type="button">Upload Player Avatar</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.File, new { type = "file" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(m => m.Picture, new { type = "file" })
            </div>

            <input class="btn" id="submit" type="submit" value="Create Player" />
        </div>
        <!--/jumbotron-->
    }
}
else {
    <div class="jumbotron" id="newPlayerBox">
        <p id="sameNameWarningMessage" class="field-validation-error">You already have a bot with name '@Model.PlayerName'. Do you want to overwrite it?</p>
        @using (Html.BeginForm(MVC.AddPlayer.OverwriteYes(), FormMethod.Post)) {
            @Html.HiddenFor(model => model.TemporaryPath)
            @Html.HiddenFor(model => model.PlayerName)
            <input class="btn btn-danger btn-block" id="submit1" type="submit" value="Yes" />
        }
        @using (Html.BeginForm(MVC.AddPlayer.OverwriteNo(), FormMethod.Post)) {
            <input class="btn btn btn-block" id="submit2" type="submit" value="No" />
        }
    </div>
    <!--/jumbotron-->
}

@section scripts {

    <script type="text/javascript">
        $('#uploadPlayerFileBtn').on('click', function() { $('input[id=File]').click(); });
        $('input[id=File]').change(function() {
            $('#photoCover1').val($(this).val());
        });
        $('#uploadAvatarBtn').on('click', function() { $('input[id=Picture]').click(); });
        $('input[id=Picture]').change(function() {
            $('#photoCover2').val($(this).val());
        });
    </script>
}