@using Battleships.Web.Models.AddPlayer
@model AddPlayerModel
@{
    ViewBag.Title = "Add a Player";
}
@Styles.Render("~/bundles/styles/addplayer")

<p>
    Upload your players below to battle against other players.
    Please Upload Player Files as .dll and Avatar pictures as gif or jpeg
    <div>
        To overwrite upload a player with the same name.
    </div>
</p>
@Html.ValidationMessage("")
@Html.ValidationMessageFor(m => m.File)
@if (!Model.CanOverwrite) {
    using (Html.BeginForm(MVC.AddPlayer.Index(), FormMethod.Post, new { enctype = "multipart/form-data", id = "add-player-form" })) {
        <table class=" table-responsive">
            <tr>
                <td>
                    <div>
                        <input id="photoCover1" class="input-large" type="text">
                        <a class="btn btn-default" id="uploadPlayerFileBtn">Upload Player File</a>
                    </div>
                </td>
                <td>
                    <div>
                        <input id="photoCover2" class="input-large" type="text">
                        <a class="btn btn-default" id="uploadAvatarBtn">Upload Player Avatar</a>
                    </div>
                </td>
            </tr>
        </table>

        <div class="form-group">
            @Html.TextBoxFor(m => m.File, new { type = "file" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(m => m.Picture, new { type = "file" })
        </div>

        <input class="btn" id="submit" type="submit" value="Create Player" />
    }
}
else {
    <p class="field-validation-error">You already have a bot with name '@Model.PlayerName'. Do you want to overwrite it?</p>
    <table class="table-overwrite">
        <tr>
            <td>
                @using (Html.BeginForm(MVC.AddPlayer.OverwriteYes(), FormMethod.Post)) {
                    @Html.HiddenFor(model => model.TemporaryPath)
                    @Html.HiddenFor(model => model.PlayerName)
                    <input class="btn" id="submit" type="submit" value="Yes" />
                }
            </td>
            <td>
                @using (Html.BeginForm(MVC.AddPlayer.OverwriteNo(), FormMethod.Post)) {
                    <input class="btn" id="submit" type="submit" value="No" />
                }
            </td>
        </tr>
    </table>
    <p>
        To overwrite upload a player with the same name.
    </p>
}

@section scripts {

    <script type="text/javascript">
        $('#uploadPlayerFileBtn').on('click', function() { $('input[id=File]').click(); });
        $('input[id=File]').change(function() {
            $('#photoCover1').val($(this).val());
        });
        $('#uploadAvatarBtn').on('click', function() { $('input[id=Picture]').click(); });
        $('input[id=Picture]').change(function() {
            $('#photoCover2').val($(this).val());
        });
    </script>



}