@using Battleships.Web.Models.League
@model List<PlayerStats>
@Styles.Render("~/bundles/styles/league")

@{
    ViewBag.Title = "League";
}



@{
    if (!Model.Any()) {
        <div id="noLeagueBeforeMessage" class="leagueMessage alert alert-info">
            No league has been run before.
        </div>
    }
    else {
        <table class="table table-hover" id="leaderboard">
            <thead>
                <tr>
                    <th id="latestLeaderboard">Latest Leaderboard (@ViewBag.LatestLeagueTime):</th>
                    <th>Match Wins</th>
                    <th>Match Losses</th>
                    <th>Total rounds won</th>
                </tr>
            </thead>
            @foreach (var playerStat in Model) {
                <tbody class="player">
                    <tr class="info">
                        <td>@playerStat.Name</td>
                        <td>@playerStat.Wins</td>
                        <td>@playerStat.Losses</td>
                        <td>@playerStat.TotalRoundWins</td>
                    </tr>
                </tbody>
                <tbody class="round-stats">
                    @foreach (var roundStat in playerStat.RoundStats) {
                        <tr>
                            <td> vs. @roundStat.OpponentName - @roundStat.Wins : @roundStat.Losses</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            }

        </table>
    }
}


<div id="gameSetup">
    @using (Html.BeginForm(MVC.League.RunLeague(), FormMethod.Post)) {
        <button id="runLeagueButton" type="submit" class="btn btn-info">
            Run League
        </button>
    }
</div>

<div id="loading-spinner">
    <img src="../../Images/Explodingbattleship.gif" alt="Loading...">
</div>


@section scripts{
    @Scripts.Render("~/bundles/scripts/league/index")
    <script type="text/javascript">
        $(function() {
            battleships.league.index.init();
        });
    </script>
}